[Unit]
Description=uWSGI instance to serve CandyShop
After=network.target autofs.service

[Service]
User=candyshop
Group=candyshop
Type=simple
WorkingDirectory=/home/soft/candy_shop
ExecStart=/usr/local/bin/uwsgi --ini /home/soft/candy_shop/candy_shop.ini

[Install]
WantedBy=multi-user.target
