[Unit]
Description=uWSGI instance to serve CandyShop
After=network.target postgresql.service

[Service]
User=entrant
Group=entrant
Type=simple
WorkingDirectory=/home/entrant/soft/candyshop_api
ExecStart=/usr/local/bin/uwsgi --ini /home/entrant/soft/candyshop_api/candy_shop.ini

[Install]
WantedBy=multi-user.target
